@font-face {
    font-family: "Norse";
    src: url(./Norse-Bold.otf)
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.splash-page {
    background-image: url(./photo-1585202900225-6d3ac20a6962.avif);
    background-size: cover;
    background-repeat: no-repeat;

    display:flex;
    justify-content: center;
    align-items: start;
    padding-top: 25vh;;
}

.logo {
    background-color: rgba(0,0,0, .6);

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: 16px;
}

.logo img {
    width: 100px;
}

.logo div {
    color: #ffffff;
    font-family: "Norse";
    font-size: 6rem;
}

.content {
    background-color: #f7f7f7;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    
}

.info {
    padding: 1rem 2rem;
}

.info p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.signup {
    background-color: #ffffff;
    padding: 1rem 2rem;

}

.account {
    padding: 1rem 2rem;
}