@font-face {
    font-family: "Norse";
    src: url(./Norse-Bold.otf)
}

* {
    margin: 0;
    padding: 0;
    color: #1f1f1f;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.splash-page {
    background-image: url(./photo-1585202900225-6d3ac20a6962.avif);
    background-size: cover;
    background-repeat: no-repeat;

    display:flex;
    justify-content: center;
    align-items: start;
    padding-top: 25vh;;
}

.logo {
    background-color: rgba(0,0,0, .6);

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    padding: 16px;
}

.logo img {
    width: 100px;
}

.logo div {
    color: #ffffff;
    font-family: "Norse";
    font-size: 6rem;
}

.content {
    background-color: #f7f7f7;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    
}

.info {
    padding: 1rem 3rem;
    max-width: 900px;
}

.info p {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.signup {
    background-color: #ffffff;
    box-shadow: 0 8px 8px #e7e7e7;
    padding: 2rem 3rem;
}

.signup p {
    font-size: 1.5rem;
    font-weight: 600;

    margin-bottom: 2rem;
}

.signup label {
    font-size: .8rem;
    font-weight: 600;
    
}

.signup form {
    display: grid;
    grid-template-columns: 320px 320px;
    row-gap: 2rem;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row input {
    width: 260px;
    height: 30px;

    border: 2px solid #e7e7e7;
    border-radius: 4px;
}

.account {
    padding: 1rem 3rem;
}